
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-container">
    <div>
        <img src="~/access_denied.jpg" style="max-width: 300px"/>
        <h1>Access denied. Try later.</h1>
    </div>
</div>