<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Incanto</title>
</head>
<body>
    <div id="main">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Incanto</p>
        </footer>
    </div>
</body>
</html>