<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="@Url.Content("favicon.png")" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>