
@{
    ViewData["Title"] = "Incanto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-beta" style="top: 0;width: 100%; left:0; height:50px; background-color:#f1f1f1;">
    <p id="mainTicker" style="position: absolute; width: 100%; z-index: 99; background-color:#f1f1f1; text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;text-transform: uppercase;display:none;">
        СВЯЗАТЬСЯ С НАМИ: +38 050 922 66 11
    </p>
    <p id="ticker_1" style="text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;text-transform: uppercase;">
        СВЯЗАТЬСЯ С НАМИ: +38 050 922 66 11
    </p>
    <p id="ticker_2" style="text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;display:none;text-transform: uppercase;">
        Бесплатная доставка по всей Украине
    </p>
</div>
<div id="store" onscroll="onScrollHandler()"></div>
<script src="~/js/store.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
        function onScrollHandler () {
            var pageBottom = $(window).scrollTop() + $(window).height();
            var element = $('.footer_wrapper');
            if (element.length > 0) {
                var elementTop = element.offset().top;
                if (elementTop < pageBottom) {
                    $('#left').css({ 'top': elementTop - pageBottom + 'px' });
                    $('.right').css({ 'top': elementTop - pageBottom + 'px' });
                }
                else {
                    $('#left').css({ 'top': '0px' });
                    $('.right').css({ 'top': '0px' });
                }  
            }
           
        };


    initTicker = function () {
        var count = 1;
        setInterval(function () {
            $("#ticker_" + count).fadeOut(300);
            count++;
            if ($("#ticker_" + count).length > 0) {
                $("#ticker_" + count).delay(300).fadeIn(300);
            } else {
                count = 1;
                $("#ticker_" + count).delay(300).fadeIn(300);
            }
        }, 10 * 1e3);
        $('#banner-beta').mouseover(function () {
            $("#mainTicker").show();
        });
        $('#banner-beta').mouseleave(function () {
            $("#mainTicker").hide();
        });
    };
    initTicker();
</script>