
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-beta" style="top: 0;width: 100%; left:0; height:50px; background-color:#f1f1f1;">
    <p id="mainTicker"
       style="position: absolute; width: 100%; z-index: 99; background-color:#f1f1f1; text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;text-transform: uppercase;display:none;">
        СЕРВИСНЫЙ ЦЕНТР ИНТЕРНЕТ-МАГАЗИНА: +38 093 43 44 734
    </p>
    <p id="ticker_1" style="text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;text-transform: uppercase;">
        СЕРВИСНЫЙ ЦЕНТР ИНТЕРНЕТ-МАГАЗИНА: +38 093 43 44 734
    </p>
    <p id="ticker_2"
       style="text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;display:none;text-transform: uppercase;">
        Бесплатная экспресс-доставка по всей Украине
    </p>
    <p id="ticker_3"
       style="text-align:center; font-size:10.01px; line-height:50px; letter-spacing:2.5px;display:none;text-transform: uppercase;">
        Примерка в любом удобном для вас месте
    </p>
</div>
<div class="logo_image"><a href="/">INCANTO</a></div>
<div id="store" style="width: 99%"></div>
<script src="~/js/store.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    initTicker = function () {
        var count = 1;
        setInterval(function () {
            $("#ticker_" + count).fadeOut(300);
            count++;
            if ($("#ticker_" + count).length > 0) {
                $("#ticker_" + count).delay(300).fadeIn(300);
            } else {
                count = 1;
                $("#ticker_" + count).delay(300).fadeIn(300);
            }
        }, 10 * 1e3);
        $('#banner-beta').mouseover(function () {
            $("#mainTicker").show();
        });
        $('#banner-beta').mouseleave(function () {
            $("#mainTicker").hide();
        });
    };
    initTicker();
</script>