
@{
    ViewData["Title"] = "Incanto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="store" onscroll="onScrollHandler()"></div>
<script src="~/js/store.js"></script>
<script src="~/js/lib/jquery.min.js"></script>
<script>
    function onScrollHandler() {
        var pageBottom = $(window).scrollTop() + $(window).height();
        var element = $('.footer_wrapper');
        if (element.length > 0) {
            var elementTop = element.offset().top;
            //console.log(elementTop);
            if (elementTop < pageBottom) {
                $('#left').css({ 'top': elementTop - pageBottom + 'px' });
                $('.right').css({ 'top': elementTop - pageBottom + 'px' });
            }
            else {
                $('#left').css({ 'top': '0px' });
                $('.right').css({ 'top': '0px' });
            }  
        }
    };
</script>